.login-container{
    background-image: url(images/login.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.box input{
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.box p{
    color: blue;
    width: 100%;
    text-align: right;
    margin-top: -10px;
}
.box button{
    background-color: black;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.box button:hover{
    background-color: white;
    color: black;
}
.register{
    margin: 10px 0 !important;
}