@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}
.navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}
.links{
    display: flex;
    align-items: center;
    gap: 40px;
}
.links a{
    text-decoration: none;
    font-weight: bold;
}
.login-btn{
    background-color: rgb(138, 30, 138);
    padding: 5px 30px;
    color: white;
    border-radius: 10px;
}
.links a:hover{
    transform: scale(1.01);
    transition-duration: all 5s;
}
.hero-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    margin-top: 60px;
    width: 90%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}
.tag{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.hero-content h1{
    font-size: 60px;
}
.explore-btn{
    border: none;
    background-color: rgb(249, 221, 63);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
}