@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}
.navbar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}
.links{
    display: flex;
    align-items: center;
    gap: 40px;
}
.links a{
    text-decoration: none;
    font-weight: bold;
}
.login-btn{
    background-color: rgb(138, 30, 138);
    padding: 5px 30px;
    color: white;
    border-radius: 10px;
}
.links a:hover{
    transform: scale(1.01);
    transition-duration: all 5s;
}
.hero-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero{
    margin-top: 60px;
    width: 90%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-image{
    animation: slide-in-left 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    animation: slide-in-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.tag{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.hero-content h1{
    font-size: 60px;
}
.explore-btn{
    border: none;
    background-color: rgb(249, 221, 63);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
    margin: 80px auto;
    width: 90%;
	animation: slide-in-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.divider{
    border: 1px solid gray;
    margin: 40px 0;
}
.gallery{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.gallery img{
    width: 100%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding: 60px 0;
    background-color: papayawhip;
}
.main-footer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.news-letter h3 , .support h3 , .main-links h3{
    color: gray;
}
.support ul li , .main-links ul li{
    list-style-type: none;
    margin-bottom: 5px;
}
.news-letter input{
    padding: 5px;
    border-radius: 6px;
    width: 200px;
    outline: none;
    border: none;
    margin-bottom: 8px;
}
.icons{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}







@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}