*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
.card{
    width: 600px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 16px 0px rgba(1, 1, 1, 0.75);
    padding: 20px;
    border-radius: 20px;
}
.container{
    text-align: center;
}
.container h1{
    font-size: 40px;
    font-family: cursive;
}
.container p{
    text-align: left;
    margin: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input input{
    flex: 1;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    background-color: skyblue;
    outline: none;
}
.input button{
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(217, 255, 0);
    border: none;
    cursor: pointer;
}
.items{

}
.items h5{
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}
.items ul{
}
.items ul li{
    list-style: none;
    background-color: rgb(209, 209, 209);
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
.items ul li button {
    border: none;
    background-color: transparent;
}
.items ul li button i{
    margin-right: 20px;
    cursor: pointer;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.clearall{
    padding: 10px;
    background-color: rgb(159, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}