.counter{
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.counter button{
  background-color: aquamarine;
  padding: 10px 50px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.counter p{
  font-size: 30px;
  font-weight:  bold;
}